body {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 100px; */
}

div {
    float: left;
    margin: 40px;
  }
  
img {
    height: 200px;
    float: left;
}
  
h1 {
    text-align: center;
}